.feynman__link {
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
}

.feynman__link::after {
  content: '\2192';
}

.feynman__link:hover {
  opacity: 0.4;
  transition: .5s ease;
}
