.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  margin: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  padding-left: 64px;
  position: relative;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  z-index: 2;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  display: block;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  z-index: 0;
  top: 64px;
  right: 0;
}

.description {
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  margin: 0 auto;
}

.two-columns__brief {
  min-width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  margin: 0;
}

.two-columns__main-text {
  margin: 0;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:nth-child(2) {
  margin: 30px 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  padding: 100px 0;
  text-align: center;
}

.section-title {
  margin: 0 auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-sub-title {
  margin: 20px auto 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
}

.table {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;

}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  position: relative;
  height: 890px;
  padding-top: 100px;
  background-image: url('../images/feynman.png');
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
}

.feyman__title {
  width: 648px;
  margin: 0 auto 70px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feyman__sub-title {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
}

.feyman__link {
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
}

.arrow__link::after {
  content: '\2192';
}

.kaufman {
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
}

.section-title_theme_dark {
  color: #fff;
  z-index: 1;
}

.section-sub-title_theme_dark {
  color: #fff;
}

.table_theme_dark {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {

}

.table__text_theme_dark {

}

.kaufman__triangle {
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
}

.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  min-height: 350px;
}

.footer__columns {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {

}

.footer__author {
  margin: 18px 0;
  line-height: 25x;
  font-size: 18px;
}

.footer__column_content_info {

}

.footer__column-heading {
  margin: 0;
  line-height: 30x;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  line-height: 30x;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.footer__social-icon {
  margin-right: 10px;
}
